/* General */
body
{
    color: black;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('https://cdn.britannica.com/21/102921-050-FD03D790/Panorama-peaks-North-Cascades-National-Park-Washington.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6
{
    /* Adds shadow to the headings, can be removed if wanted */
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); */
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

section
{
     /* Adds space below the section for better visuals */
    margin-bottom: 50px;
}

/* Header area, logo, company name, navigation */
.header-container
{
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-and-name
{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #D9D9D9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    
}

.logo
{
    flex-shrink: 0;
}

.logo img
{
    width: auto;
    height: 180px;
    border-top-left-radius: 10px;
}

.company-name
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
    background-color: #D9D9D9;
    white-space: nowrap;
}

/* Navbar and buttons */
.navbar
{
    border-radius: 0 0 10px 10px;
    background-color: #D9D9D9;
    width: 100%;
}

.navbar-nav .nav-link, .navbar-brand
{
    color: rgb(0, 0, 0);
    transition: color 0.3s;
    font-weight: bold;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover
{
    color: #BFBFBF;
}

.navbar-toggler
{
    border: none;
}

.form-control
{
    width: auto;
}


.btn-outline-black
{
    color: black !important;
    border: 1px solid black !important;
    background-color: #D9D9D9 !important;
    transition: all 0.3s ease;
}

.btn-outline-black:hover
{
    color: black !important;
    background-color: #BFBFBF !important;
    border-color: black !important;
}


.btn-sm
{
    background-color: #D9D9D9;
    font-size: 16px;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

/* Content Section */
.content
{
    min-height: 100vh;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: #D9D9D9;
    width: 100%;
    max-width: 1344px;
}

.content-text
{
    max-width: 900px;
    margin: 1rem auto;
    /*margin-left: 10px;*/
    padding-left: 8.8rem;

    line-height: 1.4; /* Tuunasin tätä vähän pienemmäksi */
    font-size: 1.1rem; /* Lisäsin tämän rivin */
}

/* Footer */
.footer
{
    background-color: #D9D9D9;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    margin-top: 2rem;
    font-size: 16px;
    width: 100%;
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
}

.footer ul
{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.footer ul li
{
    margin: 0 1rem;
}

.footer ul li a
{
    color: black;
    text-decoration: underline;
    transition: color 0.3s;
}

.footer ul li a:hover
{
    color: #993030;
}

.footer p
{
    margin: 0;
    font-size: 0.875rem;
}

/* Responsiveness */
@media (max-width: 1000px)
{   
    .logo img
    {
        height: 100px;
    }

    .company-name
    {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    .footer ul
    {
        flex-direction: column;
        margin: 0;
    }

    .footer ul li
    {
        margin-bottom: 10px;
    }
}


@media (max-width: 768px)
{   
    .logo img
    {
        height: 75px;
    }

    .company-name
    {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    .footer ul
    {
        flex-direction: column;
        margin: 0;
    }

    .footer ul li
    {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px)
{
    .logo img
    {
        height: 50px;
    }

    .company-name
    {
        font-size: 1.25rem;
    }

    .content
    {
        padding: 1rem;
    }

    .footer
    {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px)
{
    .logo-and-name
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .company-name
    {
        position: relative;
        font-size: 1rem;
        font-weight: bold;
        background-color: #D9D9D9;
        white-space: nowrap;
        max-width: 100%;
        text-align: center;
        margin-top: 5px;
        margin-right: 100px;
    }

    .logo img
    {
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 0;
    }

    .content
    {
        padding: 0.8rem;
    }

    .footer
    {
        font-size: 0.85rem;
    }

    .navbar-toggler
    {
        margin-right: 1rem;
    }

    .navbar-nav
    {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item
    {
        margin: 0.5rem 0;
    }

    .form-control
    {
        width: 100%;
    }
}


@media (max-width: 300px)
{
    .logo-and-name
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .company-name
    {
        position: relative;
        font-size: 10px;
        font-weight: bold;
        background-color: #D9D9D9;
        white-space: nowrap;
        max-width: 100%;
        text-align: center;
    }
    
    .logo img
    {
        height: 30px;
        border-radius: 0;
        margin-right: 100px;
    }

    .company-name
    {
        font-size: 1.1rem;
    }

    .content
    {
        padding: 0.5rem;
    }

    .footer
    {
        font-size: 0.75rem;
    }

    .navbar-toggler
    {
        margin-right: 0.5rem;
    }

    .navbar-nav
    {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item
    {
        margin: 0.5rem 0;
    }

    .form-control
    {
        width: 100%;
    }
}


